{% extends "::base.html.twig" %}

    {% block body %}
        <div class="container">
            <div class="row marketing">
                <div class="col-sm-11 col-sm-offset-1">
                    <h2 class="pull-left marketing-title">Get in touch</h2>
                    <div class="clearfix"></div>
                    {% if app.request.session.flashBag.has('success-notice')|length > 0 %}
                        <p class="pull-left marketing-byline-success marketing-byline">{% for message in app.request.session.flashBag.get('success-notice') %}{{ message }}{% endfor %}</p>
                    {% else %}
                        <p class="pull-left marketing-byline">Fill out the form below!</p>
                    {% endif %}
                </div>
            </div>
            {{ form_start(form) }}
            <div class="col-sm-6">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {% if form.recaptcha is defined %}
                    {{ form_row(form.recaptcha) }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.message) }}
                <div class="form-group">
                    <button class="btn btn-primary pull-right" type="submit">Send <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock body %}